.wrapper {
    position: relative;
    width: 90%; /* para navegadores que não suportam calc() */
    width: calc(100% - 100px); /* para suporte nativo */
    height: 200;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .signature-pad {
    position: relative;
    left: 0;
    top: 0;
    width: 90%; /* para navegadores que não suportam calc() */
    width: calc(100% - 100px); /* para suporte nativo */
    height:200;
    border: 1px solid black;
  }

  .center{
      text-align: center;
  }