.wrapper {
    position: relative;
    width: 700;
    height: 250;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .signature-pad {
    position: relative;
    left: 0;
    top: 0;
    width:700;
    height:250;
    border: 1px solid black;
  }

  .center{
      text-align: center;
  }